.content.prj {
  flex-wrap: wrap;
}

section.top {
  width: 100vw;
  height: 25vh;
  display: flex;
  max-width: 100vw;
  max-height: 25vh;
  align-items: center;
  justify-content: center;
}

section.top.login {
  height: 15vh;
  max-height: 15vh;
  min-height: 15vh;
}

section.top h1 {
  width: 50%;
  height: 100%;
  display: flex;
  font-size: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 10px black solid;
  border-top: none;
}

section.top button {
  left: 10px;
  z-index: 1;
  width: 60px;
  height: 60px;
  display: flex;
  font-size: 40px;
  position: absolute;
  line-height: unset;
  align-items: center;
  justify-content: center;
}

section.top button.add {
  left: unset;
  right: 10px;
}

section.top button i {
  max-width: 40px;
  max-height: 40px;
}

section.bottom {
  width: 100vw;
  height: 75vh;
  max-width: 100vw;
  max-height: 75vh;
}

section.bottom.login {
  height: 85vh;
  display: flex;
  max-height: 85vh;
  min-height: 85vh;
  align-items: flex-start;
  justify-content: center;
}

div.login {
  width: 50%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  min-width: 50%;
  max-width: 50%;
  min-height: 90%;
  max-height: 90%;
  align-items: flex-start;
  justify-content: center;
  border: 10px black solid;
}

div.login .tabs {
  width: 100%;
  height: 20%;
  display: flex;
  font-size: 40px;
  max-width: 100%;
  min-width: 100%;
  max-height: 20%;
  min-height: 20%;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: black;
}

div.login .tabs a {
  width: 50%;
  height: 100%;
  display: flex;
  max-width: 50%;
  min-width: 50%;
  max-height: 100%;
  min-height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

div.login .tabs .not-active {
  color: white;
  border: none;
}

div.login .tabs .not-active:hover {
  border-bottom: 5px #40a9ff solid;
}

div.login .tabs .active {
  border-bottom: 5px #1890ff solid;
}

div.login form {
  width: 100%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 100%;
  max-height: 75%;
  min-height: 75%;
  align-items: center;
  justify-content: center;
}

div.login form a,
div.login form button,
div.login form input {
  width: 100%;
  height: 20%;
  font-size: 30px;
  max-width: 100%;
  min-width: 100%;
  max-height: 20%;
  min-height: 20%;
}

div.login form .ant-row.ant-form-item {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
}

div.login form .ant-form-item-control {
  text-align: center;
}

div.login form .ant-form-item-control a:hover {
  text-decoration: underline;
}

div.login form .ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 45px;
}

div.login form .ant-input-affix-wrapper {
  font-size: 30px;
}

div.login form input i,
div.login form input i svg {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

div.ant-carousel {
  height: 100%;
  display: flex !important;
  min-height: 100%;
  max-height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ant-carousel .slick-slider,
.ant-carousel .slick-slider .slick-list {
  min-width: 100vw;
}

.ant-carousel .slick-slider {
  min-height: 100%;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex !important;
}

.ant-carousel .slick-slide div div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ant-carousel .slick-slide div div.descr {
  width: 100%;
  display: block;
  max-width: 100%;
}

.ant-carousel .slick-slide div button {
  width: auto;
  height: auto;
  white-space: normal;
  display: inline-block;
}

div.ant-carousel .slick-dots li,
div.ant-carousel .slick-dots li button {
  width: 35px;
  background-color: black;
}

div.ant-carousel .slick-dots li.slick-active,
div.ant-carousel .slick-dots li.slick-active button {
  width: 50px;
  background-color: #40a9ff !important;
}

.prj button .thumbnail {
  padding: 0;
  width: 300px;
  height: 150px;
  overflow: hidden;
  border-radius: 0;
}

.prj button .thumbnail img {
  min-width: 100%;
  border-radius: 0;
  transition: all 300ms ease-in-out;
}

.prj a img,
.prj button img {
  width: 10vw;
  height: 10vw;
  max-width: 10vw;
  max-height: 10vw;
  border-radius: 100%;
}

.prj a img.unset,
.prj button img.unset {
  width: 272px;
  height: unset;
  max-width: 272px;
  max-height: unset;
  border-radius: unset;
}

.preview {
  width: 90%;
  padding: 0;
  height: 100%;
  display: flex;
  min-width: 90%;
  min-height: 100%;
  overflow: hidden;
  align-items: center;
  background-color: #eee;
  justify-content: center;
}

.preview img {
  opacity: 1;
  min-width: 100%;
  max-width: 100%;
  transition: all 300ms ease-in-out;
}

aside.left.about.project .top {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  max-height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

aside.left.about.project .top a,
aside.left.about.project .top button {
  margin-top: 10px;
}

aside.left.about.project .top a i,
aside.left.about.project .top button i {
  max-width: 40px;
  max-height: 40px;
}

aside.right.about.project {
  align-content: space-between;
}

aside.right.about.project .top,
aside.right.about.project .bottom {
  height: 40vh;
  max-height: 40vh;
}

aside.right.about.project .top {
  align-items: flex-start;
  justify-content: space-around;
}

aside.right.about.project .top a,
aside.right.about.project .top button {
  width: 60px;
  height: 60px;
  display: none;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

aside.right.about.project .top ul li {
  margin-left: 0;
}

aside.right.about.project .top ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-self: flex-start;
  border: 10px black solid;
  background-color: transparent;
  border-top: none;
}

aside.right.about.project .bottom a,
aside.right.about.project .bottom button {
  margin: 0;
  width: 40%;
  height: 100%;
  display: flex;
  font-size: 100px;
  border-radius: 0;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.65);
}

aside.right.about.project .bottom a i,
aside.right.about.project .bottom button i {
  max-width: unset;
  max-height: unset;
}

aside.right.about.project .bottom a:hover,
aside.right.about.project .bottom button:hover {
  color: #40a9ff;
}

.infinite-container {
  height: 100%;
  overflow: auto;
  min-height: 100%;
  max-height: 100%;
  padding: 8px 24px;
  -webkit-overflow-scrolling: touch;
}

.infinite-container span i {
  color: dimgrey;
  margin-right: 5px;
}

.infinite-container span i.star-o:hover {
  color: #e8bc00;
}
.infinite-container span i.like-o:hover {
  color: #40a9ff;
}

.loading-container {
  width: 100%;
  bottom: 40px;
  position: absolute;
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  aside.left.about.project {
    display: none;
  }
  aside.right.about.project .bottom {
    margin-right: 3%;
    justify-content: flex-end;
  }
  aside.right.about.project .bottom a,
  aside.right.about.project .bottom button {
    width: calc(40% + 10px);
  }
  aside.right.about.project .top a,
  aside.right.about.project .top button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  aside.right.about.project .top a i,
  aside.right.about.project .top button i {
    max-height: 40px;
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1500px){
  aside.right.about.project .bottom {
    margin-right: 4%;
  }
  aside.right.about.project .bottom a,
  aside.right.about.project .bottom button {
    width: calc(40% + 18px);
  }
  div.login {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  div.login {
    width: 70%;
    min-width: 70%;
    max-width: 70%;
  }
}

@media only screen and (max-width: 1020px) {
  h2, p {
    width: 100%;
    word-wrap: break-word;
  }
  .ant-carousel .slick-slide div div.descr {
    word-wrap: break-word;
    width: calc(100% - 30%);
    justify-content: flex-end;
    max-width: calc(100% - 30%);
  }
  .prj button .thumbnail {
    width: 25vw;
    height: 19vh;
    max-width: 25vw;
    max-height: 19vh;
    overflow: hidden;
  }
  .prj a img,
  .prj button img {
    width: 19vh;
    height: 19vh;
    max-width: 19vh;
    max-height: 19vh;
  }
  .ant-carousel .slick-slide div div button {
    width: 90vw;
    height: 20vh;
    display: flex;
    max-width: 90vw;
    flex-wrap: wrap;
    max-height: 20vh;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
  .ant-carousel .slick-slide div div {
    flex-wrap: wrap;
  }
  aside.right.about.project {
    margin-top: 0 !important;
  }
  div.login {
    width: 80%;
    min-width: 80%;
    max-width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  aside.right.about.project .top {
    justify-content: space-between;
  }
  aside.right.about.project .top ul {
    border-right: none;
  }
  aside.right.about.project .bottom {
    margin-right: 0;
  }
  aside.right.about.project .bottom a,
  aside.right.about.project .bottom button {
    width: calc(40%);
  }
  div.login {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

@media only screen and (max-width: 700px) {
  section.top h1 {
    width: 80%;
    border-right: none;
  }
  section.top h1.admin {
    width: 60%;
    border-right: 10px black solid;
  }
  section.top {
    justify-content: flex-end;
  }
  section.top.admin {
    justify-content: center;
  }
  .ant-list-vertical .ant-list-item-extra-wrap {
    flex-wrap: wrap-reverse;
  }
  .ant-list-vertical .ant-list-item-main {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .ant-carousel .slick-slide div div.descr {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
  .prj a img,
  .prj button img {
    display: none !important;
  }
  .prj a img.unset,
  .prj button img.unset {
    display: initial !important;
  }
  .ant-carousel .slick-slide div div button div.thumbnail {
    display: none !important;
  }
  .ant-carousel .slick-slide div div {
    flex-wrap: wrap !important;
  }
  .ant-carousel .slick-slide div div button {
    display: inline-block;
  }
}

/* unhide project now that all other styles have been loaded */
.content.prj {
  visibility: visible;
}