img {
  opacity: 0;
  background-color: #ccc;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
img.src {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.av img {
  opacity: 1;
  background-color: white;
}
.right { 
  float: right;
}
.left {
  float: left;
}
.problem {
  padding: 50px;
}
.problem aside.right {
  float: right;
  height: 75vh;
  overflow: auto;
  max-width: 45%;
  min-height: 75vh;
  max-height: 75vh;
  -webkit-overflow-scrolling: touch;
}
.problem aside.right.ana {
  overflow: hidden;
}
.problem aside.left {
  float: left;
  height: auto;
  overflow: auto;
  max-width: 45%;
  flex-wrap: wrap;
  max-height: 75vh;
  min-height: auto;
  align-content: end;
  -webkit-overflow-scrolling: touch;
}
.green {
  color: white !important;
  background-color: green !important;
}
.red {
  color: white !important;
  background-color: red !important;
}
.yellow {
  color: dimgrey !important;
  background-color: yellow !important;
}
.orange {
  color: dimgrey !important;
  background-color: orange !important;
}
ul.problems {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
ul.problems li {
  margin: 10px;
  width: 100px;
  height: 100px;
  padding: 20px;
  color: white;
  text-align: left;
  border-radius: 50%;
  background-color: #40a9ff;
  box-shadow: 0px 0px 10px 0px #888;
}
ul.problems li:hover {
  color: white !important;
  background-color: #40a9ff !important;
}
ul.problems li a {
  color: inherit;
  font-weight: bold;
}
ul.ant-menu-horizontal {
  border: none;
  line-height: 63px !important;
}
div.light {
  background-color: white;
  box-shadow: 0px 0px 10px 0px #888;
}
div.ant-progress-inner {
  background-color: #ddd;
}
.content.prj {
  visibility: hidden;
}

aside.left,
aside.right {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  background-color: transparent;
}

aside.left {
  width: 55vw;
  max-width: 55vw;
}

aside.left .top,
aside.left .bottom {
  height: 20%;
  display: flex;
  min-width: 100%;
  min-height: 20%;
  max-height: 20%;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
}

aside.left .middle {
  width: 80%;
  display: flex;
  max-width: 80%;
  align-items: center;
  height: calc(60% - 20px);
  border: 10px black solid;
  max-height: calc(60% - 20px);
  background-color: transparent;
  border-left: none;
}

aside.left.about .middle {
  width: 100%;
  height: 90%;
  border: none;
  max-width: 100%;
  max-height: none;
  align-items: flex-start;
}

aside.left.about .top {
  height: 10%;
  min-height: 70px;
}

aside.left.about .article {
  width: 100%;
  display: flex;
  overflow: auto;
  max-width: 100%;
  min-width: 100%;
  max-height: 90%;
  min-height: 90%;
  align-items: center;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}

aside.left.about .article p,
aside.left.about .article h1,
aside.left.about .article h2,
aside.left.about .article h3,
aside.left.about .article h4 {
  margin: 0;
  width: 70%;
  padding: 0;
  color: grey;
  height: auto;
  min-width: 70%;
  max-width: 70%;
  height: fit-content;
  word-break: break-word;
  max-height: fit-content;
  min-height: fit-content;
}

aside.left.about .article h1 {
  color: #40a9ff;
  font-size: 80px;
  margin-top: 10%;
  font-weight: 800;
}

aside.left.about .article h3,
aside.left.about .article h4 {
  font-weight: lighter;
}

aside.left.about .article p {
  font-size: 20px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.65);
}

aside.left.about .top a,
aside.left.about .top button {
  width: 60px;
  height: 60px;
  display: flex;
  font-size: 40px;
  margin-left: 10px;
  line-height: unset;
  align-items: center;
  justify-content: center;
}

aside.left.about .top a i,
aside.left.about .top button i {
  max-width: 40px;
  max-height: 40px;
}

aside.left.about .middle img {
  width: auto;
  height: auto;
  min-height: 90%;
  max-width: 100%;
}

.top ul, .middle ul {
  list-style-type: none;
}

.top ul li, .middle ul li {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 20px;
  margin-left: 10%;
}

.top ul {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 10%;
  align-items: center;
  border: 10px black solid;
  background-color: transparent;
  border-right: none;
}

.top ul li {
  width: 100%;
  margin-left: 0;
}

.top ul li:nth-child(1) {
  color: black;
  font-size: 50px;
  font-weight: bold;
}

.middle ul li:nth-child(1),
.middle ul li:nth-child(2) {
  color: black;
  font-size: 100px;
  line-height: 100px;
  font-weight: bold;
}

.middle ul li:nth-child(3) {
  color: dimgrey;
  font-size: 30px;
  margin-top: 20px;
  font-weight: lighter;
}

aside.right .bottom a {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

aside.right .bottom a:hover {
  text-decoration: underline;
}

aside.left .bottom button,
aside.right.about .bottom a {
  width: 75px;
  height: 75px;
  display: flex;
  font-size: 40px;
  line-height: unset;
  align-items: center;
  justify-content: center;
}

aside.left .bottom button i,
aside.right.about .bottom a i {
  max-height: 40px;
}

aside.left .bottom button {
  z-index: 1;
  margin-left: 25px;
  position: absolute;
}

aside.right.about .bottom a {
  z-index: 1;
  line-height: 1.8;
  margin-right: 10px;
}

aside.right.about .bottom a i object {
  max-height: 40px;
}

aside.left .bottom .bar,
aside.right .bottom .bar {
  height: 30px;
  min-width: 100%;
  min-height: 30px;
  background-color: black;
}

aside.right {
  width: 45vw;
  max-width: 45vw;
  background-color: #eee;
  justify-content: center;
}

aside.right.about {
  background-color: #fff;
}

aside.right .img1,
aside.right .img2,
aside.right .img3 {
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  text-align: center;
  background-color: #eee;
}

aside.right .img1 img,
aside.right .img2 img,
aside.right .img3 img {
  min-height: 100%;
}

aside.right .img3 img.gif {
  margin-top: calc(-50vh);
}

aside.right .img2 {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-top: -50vh;
  border-top: 10px white solid;
}

aside.right .img3 {
  margin-right: 50%;
  margin-top: -150vh;
  max-width: calc(100% - 10px);
  border-right: 10px #fff solid;
}

aside.right .img {
  height: 60%;
  display: flex;
  min-height: 60%;
  max-height: 60%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

aside.right .img img {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
  text-align: center;
}

aside.right .img .toHide {
  visibility: hidden;
}

aside.right .bottom {
  width: 100%;
  height: 40%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: black;
}

aside.right.about .bottom {
  height: 20%;
  align-items: flex-start;
  background-color: transparent;
}

aside.right.about .top {
  height: 80%;
  width: 100%;
  display: flex;
  max-height: 80%;
  max-width: 100%;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

aside.right.about .bottom .bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.bottom .ant-divider.ant-divider-vertical {
  top: 2px;
  height: 35px;
}

@media only screen and (max-width: 1500px) {
  .content.abt {
    flex-wrap: wrap;
  }
  .about {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  aside.left.about {
    flex-wrap: wrap;
  }
  aside.left.about.art {
    width: unset;
    max-width: unset;
    min-width: unset;
    max-width: 55vw;
    width: 55vw;
  }
  aside.left.about .middle {
    justify-content: center;
  }
  aside.left.about .middle img {
    min-height: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    flex-wrap: wrap;
  }
  .content.art {
    flex-wrap: wrap-reverse;
  }
  aside.left,
  aside.right {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  aside.left {
    flex-wrap: wrap-reverse;
  }
  aside.left.about.art .article {
    height: auto;
    overflow: unset;
    max-height: unset;
    min-height: unset;
  }
  aside.left.about.art {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: fit-content;
    max-height: fit-content;
    min-height: fit-content;
    height: -moz-fit-content;
    max-height: -moz-fit-content;
    min-height: -moz-fit-content;
  }
  aside.right .img1,
  aside.right .img2,
  aside.right .img3 {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    text-align: center;
  }
  aside.right .img3 {
    margin-right: 90%;
  }
}

@media only screen and (max-width: 850px) {
  aside.left.about .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
  }
  aside.left.about .middle img {
    min-height: unset;
  }
}

@media only screen and (max-width: 650px) {
  aside.right.about .top ul {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media only screen and (max-width: 600px) {
  .middle ul {
    padding-left: 10px;
  }
  .middle ul li {
    margin-left: 0;
  }
  aside.art div.wrap-buttons,
  aside.left.about .article p,
  aside.left.about .article h1,
  aside.left.about .article h2,
  aside.left.about .article h3,
  aside.left.about .article h4 {
    width: 80% !important;
    min-width: 80% !important;
    max-width: 80% !important;
  }
}

@media only screen and (max-width: 535px) {
  aside.right .img img {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: unset;
  }
  aside.right.about .bottom a {
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 30px;
    line-height: unset;
    align-items: center;
    justify-content: center;
  }
  aside.right.about .bottom a i {
    max-height: 30px;
  }
  aside.right.about .bottom a i object {
    max-height: 30px;
  }
  aside.right .bottom .bar {
    height: 25px;
    min-height: 25px;
  }
  aside.art div.wrap-buttons,
  aside.left.about .article p,
  aside.left.about .article h1,
  aside.left.about .article h2,
  aside.left.about .article h3,
  aside.left.about .article h4 {
    width: 90% !important;
    min-width: 90% !important;
    max-width: 90% !important;
  }
}

@media only screen and (max-width: 500px) {
  aside.left .middle {
    width: 100%;
    max-width: 100%;
  }
}
